*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 100%;
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: Roboto, 'Roboto Slab', sans-serif;
	font-size: 1.4rem;
	line-height: 1;
	height: 100%;
	background: #ecf0f1;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	height: 100%;
	width: 80%;
	max-width: 2000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.name {
	font-family: 'Playfair Display', sans-serif;
	font-size: 4rem;
	font-weight: 900;
	color: #0e0e19;
	letter-spacing: 1px;
}

.labels {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1rem;
	letter-spacing: 1px;
	color: orangered;
	margin-top: 15px;
}

.asteriks {
	color: #0e0e19;
	font-weight: bold;
	cursor: pointer;
}

.socials {
	width: 80%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.socials .fa-icon {
	font-size: 1.2rem;
	flex-basis: 33%;
	margin: 8px auto;
	color: #555;
	transition: all .5s ease;
}

.socials .fa-icon:hover {
	color: #0e0e19;
}

@media only screen and (min-width: 600px) {
	.socials .fa-icon {
		flex-basis: 0;
	}
	.name {
		font-size: 4.1rem;
		font-weight: bolder;
	}
	.labels {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 700px) {
	.name {
		font-size: 5.1rem;
		font-weight: bolder;
	}
	.labels {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 800px) {
	.name {
		font-size: 6rem;
		font-weight: bolder;
	}
	.labels {
		font-size: 1.9rem;
	}
}

@media only screen and (min-width: 1200px) {
	.name {
		font-size: 8rem;
		font-weight: bolder;
	}
	.labels {
		font-size: 2.8rem;
	}
}